<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secinājumi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="/">Augšupielādēt CSV</a></li>
            <li><a href="/data">Datu analīze</a></li>
            <li><a href="/secinajumi">Secinājumi</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Noslēguma secinājumi un ieteikumi</h1>
        <p>Mūzikas ietekme uz koncentrēšanos ir atšķirīga katram cilvēkam. Dažiem tā palīdz labāk strādāt, bet citiem var traucēt.</p>
        <p>Klausīšanās paradumi ir cieši saistīti ar darba veidu. Rutīnas darbiem var būt piemērota enerģiska mūzika, bet sarežģītākiem uzdevumiem labāk der klusāka fona mūzika. Dažiem klusums ir vislabākais risinājums, jo jebkādi trokšņi var novērst uzmanību.</p>
        <p>Svarīgs faktors ir arī skaļums. Pārāk skaļa mūzika var traucēt koncentrēties, bet mērena fona skaņa palīdz bloķēt apkārtējos trokšņus un uzlabo darba spējas.</p>
        <p>Nav viena pareizā risinājuma – katram cilvēkam jāatrod sava metode, eksperimentējot ar dažādiem žanriem un skaļuma līmeņiem. Galvenais ir izvēlēties mūziku, kas palīdz labāk strādāt, nevis novērš uzmanību.</p>
    </div>
</body>
</html>